/* * Mont * */

@font-face {
  font-family: 'Mont-Regular';
  src: url('Mont-Regular.eot');
  src: url('Mont-Regular.woff2') format('woff2'),
       url('Mont-Regular.woff') format('woff'),
       url('Mont-Regular.ttf') format('truetype'),
       url('Mont-Regular.svg#Mont-Regular') format('svg'),
       url('Mont-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont-Black";
  src: url("Mont-Black.eot");
  src: url("Mont-Black.woff2") format("woff2"),
    url("Mont-Black.woff") format("woff"),
    url("Mont-Black.ttf") format("truetype"),
    url("Mont-Black.svg#Mont-Black") format("svg"),
    url("Mont-Black.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont-ExtraLight";
  src: url("Mont-ExtraLight.eot");
  src: url("Mont-ExtraLight.woff2") format("woff2"),
    url("Mont-ExtraLight.woff") format("woff"),
    url("Mont-ExtraLight.ttf") format("truetype"),
    url("Mont-ExtraLight.svg#Mont-ExtraLight") format("svg"),
    url("Mont-ExtraLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont-ExtraLightItalic";
  src: url("Mont-ExtraLightItalic.eot");
  src: url("Mont-ExtraLightItalic.woff2") format("woff2"),
    url("Mont-ExtraLightItalic.woff") format("woff"),
    url("Mont-ExtraLightItalic.ttf") format("truetype"),
    url("Mont-ExtraLightItalic.svg#Mont-ExtraLightItalic") format("svg"),
    url("Mont-ExtraLightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/* * Sentinel * */

@font-face {
  font-family: "Sentinel-Light";
  src: url("Sentinel-Light.eot");
  src: url("Sentinel-Light.woff2") format("woff2"),
    url("Sentinel-Light.woff") format("woff"),
    url("Sentinel-Light.ttf") format("truetype"),
    url("Sentinel-Light.svg#Sentinel-Light") format("svg"),
    url("Sentinel-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel-LightItalic";
  src: url("Sentinel-LightItalic.eot");
  src: url("Sentinel-LightItalic.woff2") format("woff2"),
    url("Sentinel-LightItalic.woff") format("woff"),
    url("Sentinel-LightItalic.ttf") format("truetype"),
    url("Sentinel-LightItalic.svg#Sentinel-LightItalic") format("svg"),
    url("Sentinel-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel-Medium";
  src: url("Sentinel-Medium.eot");
  src: url("Sentinel-Medium.woff2") format("woff2"),
    url("Sentinel-Medium.woff") format("woff"),
    url("Sentinel-Medium.ttf") format("truetype"),
    url("Sentinel-Medium.svg#Sentinel-Medium") format("svg"),
    url("Sentinel-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
