@import "~/fonts/fonts.css";
@import "./css/base";

// mixins
@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1131px) {
    @content;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// This is hiding the hamburger menu until we have need of a nav...
.navbar-toggler {
  display:none;
}

body {
  font-family: 'Mont-ExtraLight', Georgia, sans-serif;
  border-top:0!important;
  width:100%;
}
.hero > div {
    background: rgba(255, 255, 255, 0.92);
    padding-bottom: 1px;
    padding-top:6px;
    max-width:inherit!important;
    position: relative;
    @include tablet {

    }
    @include mobile {
      padding-bottom:10px;
      padding-top:14px;
    }
}

.neal-hero {
  background: #333333;
  background-blend-mode: screen, difference, lighten;
  &.jumbotron {
    color:#333333;
    h1 {
      margin-bottom:.5rem;
      margin-bottom: .5rem;
      position: absolute;
      top: -100px;
      left: 0;
      right: 0;
      color: #fff;
      text-shadow: -2px 0 #333, 0 2px #333, 2px 0 #333, 0 -2px #333;
      font-size: 4.2em;
      @include mobile {
        top: -75px;
        font-size: 2.4em;
      }
    }
  }
  .lead {
    font-family: 'Mont-Regular', Georgia, sans-serif;
    font-size: 1.5rem;
    margin-bottom: .3rem;
    margin-left: 30px;
    margin-right: 30px;
    @include mobile {
      top: -50px;
      font-size: 1rem;
    }
  }
  h1 {
    text-align:center;
    margin-bottom:.5rem;
  }
}

.navbar-brand {
  font-family: 'Mont-Black', Georgia, sans-serif;
  font-size: 1.3em;
}

.neal-horizontal-split-col .lead,
h1, h2, h3, h4, h5 {
  font-family: 'Sentinel-Medium', Georgia, sans-serif;
}

.form-group {
  span {
    color:red;
    position: absolute;
    bottom: -28px;
    left: 20px;
  }
}

.btn.btn-primary.btn-ghost {
  margin-top:0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

// ReactModal
.ReactModalPortal {
  .ReactModal__Overlay {
    background-color: rgba(0,0,0, 0.5)!important;
    z-index: 9!important;
    -webkit-animation: fadein .4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .4s; /* Firefox < 16 */
        -ms-animation: fadein .4s; /* Internet Explorer */
         -o-animation: fadein .4s; /* Opera < 12.1 */
            animation: fadein .4s;
    .ReactModal__Content {
      top:0!important;
      left:10%!important;
      right:10%!important;
      bottom:0!important;
      margin:auto!important;
      height: 250px;
      max-width:650px;
      padding:0!important;
      border:none!important;
      -webkit-animation: fadein .4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .4s; /* Firefox < 16 */
        -ms-animation: fadein .4s; /* Internet Explorer */
         -o-animation: fadein .4s; /* Opera < 12.1 */
            animation: fadein .4s;
      @include tablet {
        height: 300px;
      }
      @include mobile {
        height: 90%;
      }
      h1, h2, h3, h4, h5 {
        font-family: 'Sentinel-Medium', Georgia, sans-serif;
      }
    }
  }

  .btn-modal {
    padding: 12px!important;
    position: absolute;
    right: 20px;
    bottom: 20px;
    &:hover {
      cursor:pointer;
    }
  }

  .background-check {
    font-size: 2em;
    position: absolute;
    left: 20px;
    top: 5px;
    color: #4FB34A;
    text-align: center;
    line-height: inherit;
  }

  .subscriber-header {
    height: 56px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    background-color: #19A1AD;
    color:#f1f1f1;
    padding:10px;
    padding-left: 55px;
  }

  .modal-body {
    position: relative;
    z-index:1;
    padding:0;
    display: block;
    height: calc(100% - 56px);
    padding:20px;
  }
  
  .close-icon {
    color: #ffffff;
    position: absolute;
    padding:20px;
    right: 0;
    top: 0;
    &:hover {
      cursor:pointer;
      background-color:#57BEC8;
      color:#f1f1f1;
    }
  }
}

// top bar
.neal-navbar-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index:2;
}
.neal-navbar .container {
  padding-right:0;
  padding-left:0;
  margin-right:0;
  margin-left:50px;
}
.navbar > .container {
  justify-content: normal;
}
.navbar-nav.pull-right {
  margin-left: 20px;
  margin-right: 20px;
  @include mobile {
    display: none; 
  }
  @include tablet {
    display: none; 
  }
  @include desktop {
    display: inherit!important; 
  }
}

.neal-navbar .container .neal-mobile-nav {
  margin-left: 20px;
  margin-right: 20px;
  @include desktop {
    display: none!important; 
  }
}

.navbar-toggler {
  position: absolute;
  right: 10px;
  @include desktop {
    display: none!important; 
  }
}

.logo {
  position: fixed;
  left: 13px;
  top: 8px;
  width: 40px;
  height: 40px;
  z-index: 5;
  img {
    width: 100%;
    height: 100%;
  }
}

// devices
.neal-section.subhero {
  padding-top: 80px;
  padding-bottom: 100px;
}

h2.subhero-header {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: none;
}

.neal-image-list {
  height: 200px;
  display:flex;
  flex-wrap: initial!important;
  justify-content: center;
  align-items: center;
}

.neal-section ul li {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    max-height: 200px;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      @include mobile {
        width: 120px;
        height:120px;
      }
    }
  }
}

li.neal-image-list-item {
  padding: 0;
  img {
    max-height: inherit;
    height:100%;
  }
}

// horizontal blocks
.features .row {
  align-items: center;
  justify-content: center;
  > div {
    max-width: 400px;
    @include tablet {
      padding-left:10px;
      padding-right: 10px;
    }
    @include mobile {
      padding-left:15px;
      padding-right: 15px;
    }
  }
}

.item-image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  min-height: 301px;
  img {
    flex: 1;
    width: 100%;
    height: 100%;
  }
}

//staff
.card-deck {
  padding-top:20px;
  > div {
    flex: 1;
    max-width: 280px;
  }
}

.card-deck-wrapper {
  .row {
    align-items:center;
    justify-content: center;
  }
}

.card-title {
  margin-bottom:0;
}

.card-block {
  padding:9px;
  min-height: 185px;
  text-align: center;
}

// footer
.neal-footer {
  margin-top: 0!important;
  .container {
    .row {
      flex:1;
      div:last-child {
        display: inherit!important;
        position: absolute;
        right: 0;
        top: 62px;
        width: 115px;
        .neal-footer-social {
          display: inherit!important;
        } 
      }
    }
  }
}

.fa-github:after {
  content: '\f296';
  position: absolute;
  left: 4px;
  /* right: 0; */
  z-index: 1;
  background: #2E2E2E;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 4px;
  line-height: 40px;
  color: #FC6D27;
}

// signup
.spinnit {
  animation: spinner 1.5s linear infinite;
  position: absolute;
  left: 41px;
  top: 15px;
  color: #0091EA;
}

.form-check {
  padding-left:0;
  @include tablet {
    padding-left:15px!important;
    padding-top:20px;
  }
  @include mobile {
    padding-left:36px!important;
    padding-top:20px;
  }
}